@use "../../styles/mixin" as *;

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(186px, 100%), 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: start;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 1fr), 1fr));
    gap: 0.8rem;
  }

  @media (max-width: 342px) {
    grid-template-columns: 1fr;
    gap: 0.8rem;
  }
}
.section-title {
  @include flex-layout(space-between, center);

  a {
    color: #5c4dfc;
    transition: transform 0.3s ease;
    @include flex-layout(center);

    &:hover {
      transform: scale(1.1);
    }
  }
}
