.movie-card {
  background-color: #0b111e;
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  max-width: 230px;
  width: 100%;

  .add-to-favorite {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    color: #fff;

    &:hover {
      color: #ff6b6b;
    }

    &.favorite-active {
      display: block;
      color: #ff6b6b;
    }
  }
  &:hover .add-to-favorite {
    display: block;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
  .card-content {
    padding: 0.63rem 1rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  .release-date {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 0.9rem;
      margin-top: 0.5rem;

      svg {
        color: #fcc904;
        margin-right: 0.4rem;
      }

      span {
        font-size: 0.9rem;
      }
    }
  }
}
